* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.block {
    background-color: rgb(3, 36, 64);
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 300px;
}




.benefits {
  margin-top: 60px;
}
.container h1{
  color: green;
}

.container p {
  font-size: 1.2rem;
}

.benefit-middle {
  margin-bottom: 160px;
  
}

.mission {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 70px 0px;
}
.mission h1  {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.mission p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 600;
}

.testimonies {
  margin-top: 80px;
}

.testimonies img {
  width: 230PX;
  height: 230px;
  object-fit: cover;
  object-position: left;
  border-radius: 100%;
} 

.testimony {
  margin-top: 50px;
}

.grids {
  margin-bottom: 100px;
}

@media (max-width: 992px){
  .img-left {
      margin-right: 2em;
  } 
}

@media (max-width: 767px) {
  .img-left {
      margin-bottom: 1.6em;
  }
  .benefit-middle {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
  }
  #be-own-teacher {
    margin-top: -80px;
  }
}

.testimonies-card img {
  height: 256px;
  width: 400px;
  object-fit: cover;
  object-position: left;
}

.scroll-pop {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-pop.active {
  opacity: 1;
  transform: translateY(0);
}

.car-img {
  height: 92vh;
  object-fit: cover;
  object-position: bottom;
}

.footer {
  padding: 20px 0px; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(3, 36, 64);
  color: white;
  text-align: center;
 
}



body {
  position: relative;
  padding-bottom: 100px;
}

.testimonies {
  position: relative;
  z-index: 2;
  background-image: url('../images/scholars/agreement.jpg');
}
.testimonies::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

.testimony {
  z-index:  2;
}



